src/main/mule/file-3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dd078294-f66a-48ac-978c-2bc7a57fa891" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="file-3Flow" doc:id="6d9760c1-b932-400e-838a-6c64764144de" >
		<http:listener doc:name="Listener" doc:id="a9f4021a-3b28-46f0-83a5-38bd0d63653b" config-ref="HTTP_Listener_config" path="/file" allowedMethods="GET"/>
		<file:move doc:name="Move" doc:id="f5d68619-129e-46c0-9b0c-8ec9f4da94ba" sourcePath="D:\workspace-4.0\file-3\src\main\resources\input" targetPath="D:\workspace-4.0\file-3\src\main\resources\output"/>
		<ee:transform doc:name="Transform Message" doc:id="4a5a5170-a4af-4168-8e4d-279c03f83e6d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d4434293-cd87-4c90-8c7a-f6e38e3f5b01" message="#[payload]"/>
	</flow>
</mule>
